@page
@model APTA.Pages.Organisers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Organiser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Organiser.OrganiserID" />
            <div class="form-group">
                <label asp-for="Organiser.FirstName" class="control-label"></label>
                <input asp-for="Organiser.FirstName" class="form-control" />
                <span asp-validation-for="Organiser.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Organiser.LastName" class="control-label"></label>
                <input asp-for="Organiser.LastName" class="form-control" />
                <span asp-validation-for="Organiser.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Organiser.Phone" class="control-label"></label>
                <input asp-for="Organiser.Phone" class="form-control" />
                <span asp-validation-for="Organiser.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Organiser.Email" class="control-label"></label>
                <input asp-for="Organiser.Email" class="form-control" />
                <span asp-validation-for="Organiser.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Organiser.Sponsor" class="control-label"></label>
                <input asp-for="Organiser.Sponsor" class="form-control" />
                <span asp-validation-for="Organiser.Sponsor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
