@page
@model APTA.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<htmml>
    <body>
        <div>
            <center>
                <h2><b>&nbsp;&nbsp;Welcome to APTA</b></h2>
                <p>APTA is devoted to the tourism and hospitality research in the area of Asia Pacific. 
                APTA annual conference has a traditional of interesting and productive academic meetings in a relaxed and pleasant atmosphere, 
                attracting leading researchers in a variety of fields of tourism and hospitality.</p>
                <img src="https://live.staticflickr.com/7389/12950796183_5db4e59495_b.jpg" />
            </center>
        </div>  
    </body>
</htmml>

