@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Lab Assessment 3</h1>
    <p>Laxmi Thapa S4578394 <a href="https://www.vu.edu.au/campuses/footscray-park">Footscray Park</a></p>
</div>

