@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to contact for privacy policy.</p>
<br />
<br />
<p>For Membership Inquiry</p>
<p> Dr. Dae-Young Kim</p>
<p>
    <a href="mailto:membershp.APTA@gmail.com">Email</a>
</p>
<br />
<br />
<p>For General Inquiry:</p>
<p> Dr. Kwang-Ho Lee</p>
<p>
    <a href="mailto:APTASecretary.A@gmail.com">Email</a>
</p>

